.yellow{
	background-color: #ffc107;
	padding-bottom: 3em;
	width: 16em;
	height:10em;
}
.gray{
	background-color: gray;
	color:white;
	padding-bottom: 3em;
	width:16em;
	height: 10em;
}
h4,p{
	padding-bottom: : 0.2em;

}
